body {
    margin: 0;
    padding: 0;
    background-color: #1a0a2e; /* Color oscuro para los bordes */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

#game-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    /* Mantiene los píxeles nítidos en monitores grandes o celulares */
    image-rendering: pixelated; 
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}